.audio-player{
  height: 1rem;
  width: 100%;
  padding: .1rem 0;

  .seek{
    color: #F09D9D
  }

  .am-slider-wrapper{
    padding: 0;
  }

  .am-slider-step{
    background: #DCDCDC;
    height: 0.01rem;
  }

  &-background{
    height: .77rem;
    background: #f0f0f0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &-time{
    float: left;
    width: 18%;
    padding: .22rem 0 0 0;
    font-size: 0.25rem;
    text-align: center;
  }
  &-slider{
    float: left;
    width: 58%;
    padding: .026rem 0 0 .1rem;
    text-align: right;
    .am-slider-handle{
      border: none;
      background-image: url('./assets/sliderbar.png');
      background-size: contain;
      background-color: transparent;
      width: .56rem;
      height: .56rem;
    }
  }
  &-button{
    float: right;
    text-align: right;
    width: 16%;
    height: .77rem;
    position: relative;
    .circle-button{
      position: absolute;
      right: -0.2rem;
      top: -0.35rem;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background: #f0f0f0;
      &-icon{
        position: absolute;
        left: 0.11rem;
        top: 0.09rem;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center;
        line-height: 1.2rem;
        border-radius: 50%;
        background: #4997BA;
        color: #fff;
        .play-icon {
          width: 1rem;
          height: 1rem;
          margin: .08rem 0 0 0;
        }
        .pause-icon {
          width: 1rem;
          height: 1rem;
          margin: .08rem 0 0 0;
        }
      }
      .playing{
        background: #F09D9D;
      }
      .am-icon-loading{
        margin: .38rem 0 0 .02rem;
      }
    }
  }
}