@state-brand: #F94344;
// $state-danger: #F44336;
// $state-success: rgba(2, 184, 117, 1);
// $state-warning: rgb(255, 152, 0);
// $state-info: #009acd;
// $state-default: rgba(0, 0, 0, 1);
// $state-none: #fff;
@state-primary: #F94344;
// $state-tips: #999;
// $state-label: #54565b;

@card-border-color: #e5e5e5;
@card-background-color: #fdfdfd;

@sidebar-bgcolor: #F3F3F3;
@sidebar-selected-bgcolor: #EAEAEA;


@sidebar-width: 200px;
@header-height: 48px;
@max-content-width: 1040px;

@select-width: 160px;
