@state-brand: #F94344;
@state-primary: #F94344;

@card-border-color: #e5e5e5;
@card-background-color: #fdfdfd;

@sidebar-bgcolor: #F3F3F3;
@sidebar-selected-bgcolor: #EAEAEA;


@sidebar-width: 200px;
@header-height: 48px;
@max-content-width: 1040px;

@select-width: 160px;

@layout-color: #f7f7f7;
@custom-content-margin-top: 55px;
@custom-content-padding: 0 18px;

@custom-header-height: 50px;
@custom-header-background: #fff;
@custom-header-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
@custom-sider-background: #001529;
