.ant-layout-logo-base {
  height: 50px;
  float: left;
  display: inline-block;
  height: 50px;
  margin-right: 0;
  text-indent: -9999px;
}

.ant-layout-logo-normal {
  width: 200px;
  background: #fff url("/logo.png") no-repeat center center;
  background-size: 85px auto;
  .ant-layout-logo-base;
}

.ant-layout-logo-text {
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  height: 50px;
}

.ant-layout-logo-collapse {
  width: 64px;
  transition: all 0.2s;
  .ant-layout-logo-base;
  .ant-layout-logo-text{
    background-color: #414141;
    text-indent: 0px;
  }
}
