#preloader {
  display: none;
}
#root {
  background-color: #FBFBFC;
 }
.os-container {
  background-color: #FBFBFC;
 }
.os-content {
  margin: 0 .22rem;
}
.os-card {
  background-color: #FFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 4px 13px 0 rgba(0,0,0,0.08);
  border-radius: 6px;
}
