@import "../../static/styles/helper.less";

body {
  height: 100%;
  background: @layout-color;
}

#preloader {
  display: none;
}

.layout-container {
  display: flex;
  position: relative;
  height: 100%;
}

.layout-aside {
  width: @sidebar-width;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  background-color: @sidebar-bgcolor;
  transition-duration: .2s;
  &[data-mini='0'] {
    width: 65px;
  }
}

.ant-layout{
  height: 100vh;
  background: @layout-color;

  .logo{
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }

  .ant-layout-sider{
    margin-top: @custom-header-height;
    background: @custom-sider-background;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .custom-header{
    height: @custom-header-height;
    background: @custom-header-background;
    padding: 0;
    flex: 0 0 auto;
    box-shadow: @custom-header-box-shadow;
    position: fixed;
    z-index: 900;
    width: 100%;
  }

  .custom-content{
    margin-top: @custom-content-margin-top;
    padding: @custom-content-padding;
  }

  &-container {
    clear: both;
    .gutter-box{
      padding: 5px 0;
    }
    .ant-card-wider-padding{
      .ant-card-body{
        padding: 25px 20px;
      }
    }
  }

  .footer{
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: none;
    margin: 5px 0 0 0;
    padding: 0;
  }
}
